*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}
main{
    border-style: solid;
    padding: 10px;
    margin: 10px;

}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}
.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(167, 167, 184);
    width: 300px;
    margin-left: 40vw;
    margin-top: 20px
}